@font-face {
    font-family: 'sinkin-thin';
    src: url('../fonts/sinkinWeb/sinkinsans-100thin-webfont.woff2') format('woff2'),
         url('../fonts/sinkinWeb/sinkinsans-100thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'sinkin-regular';
    src: url('../fonts/sinkinWeb/sinkinsans-400regular-webfont.woff2') format('woff2'),
         url('../fonts/sinkinWeb/sinkinsans-400regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html {
    overflow-y: scroll;
}
body {
    background: #0ba4e5;
    color: #444;
    padding: 0;
    margin: 0;
}
header {
    border-bottom: 1px solid #fefefe;
}
h1 {
    font-family: 'sinkin-thin', arial;
    font-size: 16px;
    color:#fefefe;
    margin: 20px 0 20px 10px;
}
h2 {
    font-family: 'sinkin-thin', arial;
    font-size: 28px;
    margin: 30px;
}
p {
    font-family: 'sinkin-regular', 'arial';
    font-size: 13px;
    margin: 30px;
}
article {
    background: #fefefe;
    width: 90%;
    margin: 0 auto;
}
.content {
    width: 90%;
    max-width: 1000px;
    padding-top: 5px;
    margin: 0px auto;
}
#instafeed .img {
    display: table;
    margin: 0 auto;
}
#instafeed img {
    width: 300px;
    margin-top: 30px;
}
@media (min-width: 900px) {
    h2 {
        margin: 30px 100px;
    }
    p {
        margin: 20px 100px;
    }
    #instafeed {
        width: 61%;
    }
    #instafeed img {
        width: auto;
        max-width: 592px;
        margin-top: 40px;
    }
}